body {
  --background_light_main: #f7f9fb;
  --background_light_gradient: linear-gradient(180deg,#f7f9fb,rgba(238,242,245,0.8) 116.16%);
  --background_light_icon: rgba(0,136,204,0.06);
  --background_light_blue: rgba(0,136,204,0.1);
  --background_dark_main: #232328;
  --background_dark_gradient: linear-gradient(0deg,#232328,#343437 101.47%);
  --background_dark_secondary: hsla(0,0%,100%,0.03);
  --background_gradient_light: linear-gradient(180deg,#fff,#f7f9fb 134.8%);
  --button_light_primary: #08c;
  --button_light_primary_hover: #0197e2;
  --button_light_primary_pressed: #0082c2;
  --button_light_secondary: rgba(246,248,251,0.8);
  --button_light_secondary_hover: #f4f7fa;
  --button_light_secondary_pressed: #f4f7fa;
  --button_dark_primary: #08c;
  --button_dark_primary_hover: #00a1f1;
  --button_dark_primary_pressed: #076c9f;
  --button_dark_secondary: hsla(0,0%,100%,0.06);
  --button_dark_secondary_hover: hsla(0,0%,100%,0.12);
  --button_dark_secondary_pressed: hsla(0,0%,100%,0.03);
  --button_dark_text: #07a0ec;
  --button_dark_secondary_text_hover: #5bc8ff;
  --button_dark_secondary_text_pressed: #0186c9;
  --button_light_primary_small: rgba(0,136,204,0.06);
  --button_light_primary_small_hover: rgba(0,136,204,0.3);
  --button_light_primary_small_pressed: rgba(0,136,204,0.03);
  --text_light_primary: #161c28;
  --text_light_secondary: #728a96;
  --text_dark_primary: #fff;
  --text_dark_secondary: hsla(0,0%,100%,0.7);
  --text_dark_gradient: linear-gradient(89.92deg,#06a1ef 28.51%,#69cdff 85.79%);
  --icon_light_primary: #08c;
  --icon_light_secondary: rgba(236,240,243,0.8);
  --icon_light_thirdly: #98b2bf;
  --icon_dark_primary: #02a8fb;
  --separator_light: rgba(123,148,160,0.2);
  --separator_dark: hsla(0,0%,100%,0.06);
  --black: #000;
  --covers_light_green: #caefd9;
  --hovered_link: #08c;
}

*, *::after, *::before{
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: 'Mulish', sans-serif;
  background-color: #fff;
}

a{
  text-decoration: none;
}

/* Buttons */

.button{
  padding: 16px 24px;
  border-radius: 45px;
  color: #fff;
  font-weight: 400;
  display: inline-flex;
  align-items: center;
  margin-left: 24px;
}

.button .icon{
  width: 24px;
  margin-right: 8px;
}

.button:hover{
  background-color: var(--button_dark_secondary_hover);
  color: #fff;
}

.button-primary{
  background-color: var(--button_light_primary);
}
.button-primary:hover{
  background-color: var(--button_light_primary_hover);
}

.button-secondary{
  background-color: var(--button_dark_secondary);
}


.banner{
  display:block;
  text-align: center;
  padding: 10px;
  background: linear-gradient(90deg,#9a6dfb -7.22%,#5dc7fc 109.17%);
  color: #fff;
  font-size: 14px;
}
.hero{
  background-color: var(--background_dark_main);
  color: #fff;
}

/* Nav */
nav{

  padding: 16px 0;
  position: sticky;
  top: 0;
  background:linear-gradient(0deg,#232328,#343437 101.47%);
  backdrop-filter: blur(8px);
  z-index: 1;
}

nav .container{
  display: flex;
  justify-content: space-between;
  align-items: center
}
nav .links{
  display: flex;
  align-items: center;
}
nav .links a{
  color: #fff;
  padding: 0 16px;
  display: inline-block;
}

.container{
  width: 100%;
  max-width: 1024px;
  margin: auto;
}

.details{
  display: flex;
  padding: 128px 0;
}

/* Description */
.details .desc{
  width: 70%;
  padding-right: 32px;
}
.details .desc h1{
  font-size: 56px;
  margin: 0;
  font-weight: 800;
}
.details .desc h1 span{
  display: block;
}
.details .desc h1 span.ton-primary-color{
  color: #06a1ef;
}
.details .desc p{
  color: #ffffffb3;
  margin-bottom: 32px;
}




/* Ton */
.details .ton{
  width: 30%;
}
.jem{
width: 400px;
background-color: var(--background_gradient_light) ;
}

.secondary_hero{
background-color: #fff;
color: var(--background_dark_main);
}
.toncoin-header{
padding-top: 140px;
padding-bottom: 24px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
}
.toncoin-header h2{
  font-size: 56px;
  line-height: 64px;
  margin: 0;
}
.toncoin-header p{
padding-right: 20px;
padding-left: 20px;
font-size: 20px;
color: var(--text_light_secondary);
}


/* numbers */

.number-container{
display: flex;
justify-content: space-between;
padding: 48px;
}
.number-box{
  padding: 24px;
  width: 30%;
  background-color:var(--icon_light_secondary) ;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
}
.number-box .number-text{
font-size: 20px;
}
.number-box .fifty-icon{
  position: absolute;
  transform: translate(25%,-50%);
  right: 0;
  top: 50%;
  height: 70px;
}
.number-box .number{
  font-size: 36px;
  font-weight: 700;
}
/* tocoin */
.toncoin{
background-color:var(--icon_light_secondary);
border-radius: 35px;
padding: 48px;
display: flex;
}
.ton-click{
  border: gray solid 1px;
  max-width: 50px;
  border-radius: 5px;
  text-align: center;
  font-size: 20px;
}
.empty{
  width: 50%;
}
.coin{
width: 100%;
}
.toncoin-text{
width: 50%;
}
.toncoin-text :nth-child(4){
  display: flex;
  justify-content: space-between;
  max-width: 300px;
}
.toncoin-text h3{
  font-size: 45px;
}
.toncoin-text p{
  font-size: 20px;
  color: var(--text_light_secondary);
}
.toncoin-links{
font-weight: 700;
color: var(--icon_light_primary);
}
/* timeline */
.Ton-timeline{
  font-size: 50px;
  line-height: 64px;
  font-weight: 750;
}
.timeline-container{
display: flex;
justify-content: space-between;
}
.timeline-box{
  width: 33.33333%;
  border-top:rgb(177, 170, 170) solid 1px;
}
.last{
  border-top:rgb(177, 170, 170) dashed 1px;
}
.dots{
  background-color: #0082c2;
width: 10px;
height: 10px;
border-radius: 50%;
transform: translatey(-50%);
}
.last-dots{
  background-color: #ffffff;
width: 20px;
height: 20px;
border-radius: 50%;
transform: translatey(-50%);
border: #0082c2 solid 8px;
}

.timeline-years{
  font-size: 24px;
}
.timeline-paragraph{
  color: var(--text_light_secondary);
}
.timeline-link{
color: var(--icon_light_primary);
font-weight: 900;
}

/* blockchain */

.Blockchain{
  font-size: 56px;
  line-height: 64px;
  margin: 0;
  padding-top: 45px;
  font-weight: 800;
}
.Blockchain-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 24px;
}
.Blockchain-paragraph{
  color: var(--text_light_secondary);
}
.list{
  padding: 36px;
  border: var(--icon_light_secondary) solid 1.5px;
  border-radius: 25px;
  position: relative;
}
.gray-line{
width: 25%;
height: 90%;
position: absolute;
background-color: var(--icon_light_secondary);
border-radius: 25px;
z-index: -1;
transform: translate(90%);
}
.header-row{
display: flex;
padding-top: 20px;
}

.header-line{
width: 40%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.form{
display: flex;
flex-direction: column;
}
.data-row{
display: flex;
padding: 8px;
}
.data{width: 40%;}

.data-row h4{
display: block;
font-size: 18px;
}
.data-row div{
margin: auto;
text-align: center;
font-size: 18px;
}
.logo-name{
font-size: 20px;
font-weight:bold;
padding: 5px;
}
.blockchain-footer{
color: var(--text_light_secondary);
text-align: center;
}
.blockchain-footer a{color:gray;}
.blockchain-section{
padding-bottom: 160px;
}

/* blockchain-for-developers */

.blockchain-for-developers{
  background:var( --background_dark_gradient);
  color: #fff;
padding: 48px 0px;
}
.developer-header{
text-align: center;
}
.developers{
background-color: var(--background_dark_secondary);
border-radius: 25px;
margin-top: 48px;
}
.black-header{
  background-color:#29292e;
  width: 100%;
height: 1%;
padding: 24px 40px;
display: flex;
align-items: center;
border-top-left-radius: 25px;
border-top-right-radius: 25px;
}

.black-header .one{
  background-color: #ed6a5e;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-left: 10px;
}
.black-header .two{
  background-color: #f6be4f;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-left: 10px;
}
.black-header .three{
  background-color: #62c554;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-left: 10px;
}
.developers-container{
  display: flex;

}
.developers-topic{
width: 20%;
display: block;
padding: 24px 0px;
height: 350px;
}
.developers-select{
  border-right: var(--covers_light_green) solid 1px;
  height:15%;
font-weight: 700;
padding-left: 12%;
padding-top: 6%;

}
.developers-select:hover{
background-color: var(--text_light_secondary);
border-right: #06a1ef solid 3px;
transition: 0.5s all;
}
.developers-info{
width: 75%;
padding: 0px 48px;
display: none;
}
.developers-info h3{
font-size: 24px;
font-weight: 900;
}
.developers-info p{
  font-size: 20px;
}
.next1{
font-weight: 700;
  color: var(--text_light_secondary);
}
.next2{
font-weight: 700;
  color: #fff;
}
.next-container{
  padding-top: 68px;
display: flex;
justify-content: space-between;
}

/* duk */

.duk-container{
padding: 140px 0;
display: flex;
justify-content: space-between;
}
.TON-Community{width: 50%;}
.TON-Community h3{
  font-size: 50px;
  font-weight: 750;
}
.TON-Community p{
  color: var(--text_light_secondary);
  font-size: 24px;
  }
.duk-container div{width: 50%;}
.duk{width: 100%;}
 
/* apps */

.apps-container{
  background-color:var(--icon_light_secondary);
  border-radius: 35px;
overflow: hidden;
}
.apps{
text-align: center;
max-width: 50%;
margin: auto;
padding-bottom: 48px;
}
.png{
  width: 80px;
  border-radius: 18px;
}
.apps-icon{
  display: flex;
  justify-content: space-between;
  padding: 0 100px;
}
.left-icon{
width: 45%;
position: relative;
}
.right-icon{
width: 45%;
position: relative;
}

/* participate */

.participate-header{
padding: 140px 25% 20px 25%;
font-size: 16px;
}
.picture-container{
  display: flex;
  padding-bottom: 140px;
}
.picture div img{
  width: 90%;
  border-radius: 20px;
}
.picture h4{
  width: 90%;
  font-size: 24px;
  margin-bottom: 0;
}
.picture p{
  width: 90%;
  color: var(--text_light_secondary);
}

/* footer */

.body-footer{
  display: flex;
}
.footer-links{
width: 16.66%;
padding: 0 20px;
display: flex;
flex-direction: column;
}
.footer-links img{
  max-width: fit-content;
}
.footer-links a{
  height: 40px;
  color: var(--text_light_secondary);
  font-size: 18px;
}
.end{
display:flex;
justify-content: space-between;
align-items: center;
padding: 48px 0;
border-top:#c7c7c7 solid 1px; ;
}

.select{
  background-color: var(--text_light_secondary);
  border-right: #06a1ef solid 3px;
}
.show{
display: block;
}




@media screen and (max-width: 1100px) {
  .details{
    flex-direction: column;
    align-items: center;
  }
  .number-container{
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 500px;
  }
  .number-box{
    width: 95%;
  }
  .timeline-container{
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .toncoin{
    flex-direction: column;
    align-items: center;
  }
  .empty{
   width: 95%;
  }
  .toncoin-text{
  width: 95%;
  }
  .timeline-box{
    width: 80%;
    border-top: none;
    border-left:rgb(177, 170, 170) solid 1px;
  }
  .last{
    border-top: none;
    border-left:rgb(177, 170, 170) dashed 1px;
  }
  .duk-container{
    flex-direction: column;
    align-items: center;
  }
  .TON-Community{width:95%;}
  .duk-container div{width: 95%;}
  .picture-container{
    flex-direction: column;
    align-items: center;
  }
  .body-footer{
    align-items: center;
    flex-wrap: wrap;
  }
  .footer-links{
    width: 50%;
  }
  .dots{
  transform: translate(-50%);
  }
  .last-dots{
    transform: translate(-50%);
  }
  .end{
    flex-direction: column ;
    align-items: center;

  }
  .end p{
    order: 2;
    font-size: 12px;
  }
}

